<% provide(:title, 'About Us') %>
<!DOCTYPE html>
<html>
  <head>
    <title>Ruby on Rails Tutorial Sample App | <%= yield(:title) %></title>
  </head>
  <body>
    <h1>Acerca de Nosotros</h1>

<p>
  The <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
</p>
<p>  
     es un proyecto para hacer un libro para enseñar y screencasts desarrollo web con <a href="http://rubyonrails.org/">Ruby on Rails</a>. 
  esta
   es la aplicación de ejemplo para el tutorial.
</p>

<p>
  <a href="http://localhost:3000/static_pages/home">REGRESAR</a>.
</p>

  </body>
</html>