<% provide(:title, 'Contact') %>
<!DOCTYPE html>
<html>
  <head>
    <title>Ruby on Rails Tutorial Sample App | <%= yield(:title) %></title>
  </head>
<h1>Contact</h1>
<p>
  Hola nos puedes contactar en nuestra siguiente 
  <a href="http://railstutorial.org/contact">pagina de contacto</a>.
</p>