<h1>Help</h1>
<p>
  Obtenga ayuda en el Tutorial de Ruby on Rails en la
  <a href="http://railstutorial.org/help">TUTORIAL RUBY ON RAILS AYUDA</a>.
</p>
<p>
Obtenga ayuda del
  <a href="http://railstutorial.org/book">LIBRO DE TUTORIAL RUBY ON RAILS</a>.
</p>