<% provide(:title, 'Home') %>
<!DOCTYPE html>
<html>
  <head>
    <title>Ruby on Rails Tutorial Sample App | <%= yield(:title) %></title>
  </head>
</html>
<div class="center hero-unit">
  <h1>BIENVENIDOS A MI APP LCML</h1>

  <h2>
    Esta es la pagina para hacer el 
    <a href="http://railstutorial.org/">Tutorial Ruby on Rails</a>
    mi aplicacion.
  </h2>

  <%= link_to "Registrate ahora!", signup_path, class: "btn btn-large btn-primary" %>
</div>

<img alt="Rails" src="http://www.mixmarket.org/sites/default/files/imagecache/logo_175/botondacompsc.jpg" />